<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Investa</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <!-- Navbar-Start -->
    <header class="navbar">
      <div class="navbar-hamburger">
        <button id="navbar-hamburger">☰</button>
      </div>
      <div>
        <h1 class="navbar-logo">
          <div>
            <img src="../public/img/logo/logo.jpg" rel="icon" alt="Logo" />
          </div>
          <a href="./index.html"><span>Tani Maju</span></a>
        </h1>
      </div>
      <nav id="navbar-li" class="navbar-li">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./panduan.html">Panduan</a></li>
          <li><a href="./contact.html">Contact</a></li>
          <li><a href="./daftarkan-bisnis.html">Dashboard</a></li>
          <li><a href="./register-login.html">Register/Login</a></li>
          <li><a href="./register-login.html">Logout</a></li>
          <li><a href="./about.html">About</a></li>
        </ul>
      </nav>
    </header>
    <!-- Navbar-End -->

    <section class="hero-about">
      <div class="hero-about-img">
        <img src="../public/img/hero-about.jpg" />
      </div>
    </section>
    <main>
      <section class="about-us">
        <div class="banner">
          <h1>About Us</h1>
          <p>Home &gt; Pages &gt; About Us</p>
        </div>
      </section>
      <section class="team">
        <h2>Our Investa Company Dedicated Team Member</h2>
        <div class="team-members">
          <div class="team-member">
            <img src="../public/img/member/member-1.jpg" alt="Team Member" />
            <p>Muhammad Yofan Haditama Soepandi</p>
            <span>Front-End</span>
            <div class="social-icons">
              <a href="#"
                ><img src="../public/img/icon/phone.jpg" alt="Contact Icon"
              /></a>
              <a href="#"
                ><img src="../public/img/icon/linkedin.jpg" alt="LinkedIn Icon"
              /></a>
              <a href="#"
                ><img
                  src="../public/img/icon/instagram.jpg"
                  alt="Instagram Icon"
              /></a>
            </div>
          </div>
          <div class="team-member">
            <img src="../public/img/member/member-2.jpg" alt="Team Member" />
            <p>Alvin Sidiq</p>
            <span>Back-End</span>
            <div class="social-icons">
              <a href="#"
                ><img src="../public/img/icon/phone.jpg" alt="Contact Icon"
              /></a>
              <a href="#"
                ><img src="../public/img/icon/linkedin.jpg" alt="LinkedIn Icon"
              /></a>
              <a href="#"
                ><img
                  src="../public/img/icon/instagram.jpg"
                  alt="Instagram Icon"
              /></a>
            </div>
          </div>
          <div class="team-member">
            <img src="../public/img/member/member-3.jpg" alt="Team Member" />
            <p>Wildan</p>
            <span>Front-End</span>
            <div class="social-icons">
              <a href="#"
                ><img src="../public/img/icon/phone.jpg" alt="Contact Icon"
              /></a>
              <a href="#"
                ><img src="../public/img/icon/linkedin.jpg" alt="LinkedIn Icon"
              /></a>
              <a href="#"
                ><img
                  src="../public/img/icon/instagram.jpg"
                  alt="Instagram Icon"
              /></a>
            </div>
          </div>
          <div class="team-member">
            <img src="../public/img/member/member-4.jpg" alt="Team Member" />
            <p>Kanro</p>
            <span>Back-End</span>
            <div class="social-icons">
              <a href="#"
                ><img src="../public/img/icon/phone.jpg" alt="Contact Icon"
              /></a>
              <a href="#"
                ><img src="../public/img/icon/linkedin.jpg" alt="LinkedIn Icon"
              /></a>
              <a href="#"
                ><img
                  src="../public/img/icon/instagram.jpg"
                  alt="Instagram Icon"
              /></a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-about">
        <div class="newsletter">
          <h3>Newsletter</h3>
          <p>Dolor amet sit justo amet elitr clita ipsum elitr est...</p>
          <input type="email" placeholder="Enter your email" />
          <button>Signup</button>
        </div>
        <div class="explore">
          <h3>Explore</h3>
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./panduan.html">Panduan</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="#">Register/Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="./about.html">About</a></li>
          </ul>
        </div>
        <div class="contact-info">
          <h3>Contact Info</h3>
          <p>123 Street, New York, USA</p>
          <p>Email: info@investacompany.com</p>
          <p>Phone: +123 456 7890</p>
        </div>
        <div class="popular-posts">
          <h3>Popular Post</h3>
          <p>Investment Planning Business</p>
          <p>Get the Best Financial Advices</p>
          <p>How to grow your business with digital solutions</p>
        </div>
      </div>
    </footer>
  </body>
</html>
