<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="icon" href="./icon.jpg" />
  </head>
  <body>
    <!-- Navbar-Start -->
    <header class="navbar">
      <div class="navbar-hamburger">
        <button id="navbar-hamburger">☰</button>
      </div>
      <div>
        <h1 class="navbar-logo">
          <div>
            <img src="../public/img/logo/logo.jpg" rel="icon" alt="Logo" />
          </div>
          <a href="./index.html"><span>Tani Maju</span></a>
        </h1>
      </div>
      <nav id="navbar-li" class="navbar-li">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./panduan.html">Panduan</a></li>
          <li><a href="./contact.html">Contact</a></li>
          <li><a href="./register-login.html">Register/Login</a></li>
          <li><a href="./register-login.html">Logout</a></li>
          <li><a href="./about.html">About</a></li>
        </ul>
      </nav>
    </header>
    <!-- Navbar-End -->

    <!-- About-Start -->

    <div class="hero-contact">
      <img src="../public/img/hero-contact.jpg" alt="hero-contact" />
    </div>

    <div class="container-contact">
      <h2>Contact Us</h2>
      <form id="contactForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit">Submit</button>
      </form>
    </div>
    <!-- About-Start -->

    <!-- Firebase App (the core Firebase SDK) -->
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
    <!-- Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-database.js"></script>
    <!-- Your own JavaScript -->
    <script src="../scripts/contact.js"></script>
  </body>
</html>
