<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="icon" href="./icon.jpg" />
  </head>
  <body>
    <!-- Navbar-Start -->
    <header class="navbar">
      <div class="navbar-hamburger">
        <button id="navbar-hamburger">☰</button>
      </div>
      <div>
        <h1 class="navbar-logo">
          <div>
            <img src="../public/img/logo/logo.jpg" rel="icon" alt="Logo" />
          </div>
          <a href="./index.html"><span>Tani Maju</span></a>
        </h1>
      </div>
      <nav id="navbar-li" class="navbar-li">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./panduan.html">Panduan</a></li>
          <li><a href="./contact.html">Contact</a></li>
          <li><a href="./register-login.html">Register/Login</a></li>
          <li><a href="./register-login.html">Logout</a></li>
          <li><a href="./about.html">About</a></li>
        </ul>
      </nav>
    </header>
    <!-- Navbar-End -->

    <!-- Hero Detail Section-Start -->
    <section class="hero-detail">
      <div class="detail-image">
        <img src="../public/img/hero-image-detail.jpg" />
      </div>
      <div class="overlay">
        <h1>Petani Bogor</h1>
        <p>PT Tani Maju</p>
        <span class="category">Retail/Distribusi/Logistik</span>
      </div>
    </section>
    <!-- Hero Detail Section-Start -->

    <!-- Detail-Start -->

    <section class="info">
      <div class="info-item">
        <h3>Informasi Saham</h3>
        <p>Saham Tersisa: 0,00%</p>
        <p>Dalam Lembar: 0 Lembar</p>
        <p>Total Rupiah: Rp 0</p>
        <p>Saham Terjual: 100%</p>
        <p>Dalam Lembar: 4.000.000 Lembar</p>
        <p>Dalam Rupiah: Rp4.000.000.000</p>
        <p>Investor: 1,277</p>
      </div>
      <div class="info-item">
        <h3>Pembagian Dividen</h3>
        <p>Tahap 1 - 10 Feb 2022: Rp7.563.959</p>
        <p>Tahap 2 - 26 Sep 2022: Rp76.437.158</p>
        <p>Tahap 3 - 27 Apr 2023: Rp23.280.116</p>
        <button class="prospectus-btn">Prospektus</button>
      </div>
    </section>
    <!-- Detail-End -->

    <footer>
      <div class="footer-about">
        <div class="newsletter">
          <h3>Newsletter</h3>
          <p>Dolor amet sit justo amet elitr clita ipsum elitr est...</p>
          <input type="email" placeholder="Enter your email" />
          <button>Signup</button>
        </div>
        <div class="explore">
          <h3>Explore</h3>
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./panduan.html">Panduan</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="#">Register/Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="./about.html">About</a></li>
          </ul>
        </div>
        <div class="contact-info">
          <h3>Contact Info</h3>
          <p>123 Street, New York, USA</p>
          <p>Email: info@investacompany.com</p>
          <p>Phone: +123 456 7890</p>
        </div>
        <div class="popular-posts">
          <h3>Popular Post</h3>
          <p>Investment Planning Business</p>
          <p>Get the Best Financial Advices</p>
          <p>How to grow your business with digital solutions</p>
        </div>
      </div>
    </footer>
  </body>
</html>
