<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <title>Investasi Catalogue</title>
   
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Tani Maju</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/panduan">Panduan</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li><a href="#/daftarkanbisnis">Dashboard</a></li>
        <li><a href="#/registerlogin">Register/Login</a></li>
        <li><a href="#/registerlogin">Logout</a></li>
        <li><a href="#/about">About</a></li>
      </ul>
    </nav>
  </header>
<main id="mainContent"></main>
<footer>
  <div class="footer-about">
    <div class="newsletter">
      <h3>Newsletter</h3>
      <p>Dolor amet sit justo amet elitr clita ipsum elitr est...</p>
      <input type="email" placeholder="Enter your email" />
      <button>Signup</button>
    </div>
    <div class="explore">
      <h3>Explore</h3>
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/panduan">Panduan</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li><a href="#/about">About</a></li>
      </ul>
    </div>
    <div class="contact-info">
      <h3>Contact Info</h3>
      <p>123 Street, New York, USA</p>
      <p>Email: info@investacompany.com</p>
      <p>Phone: +123 456 7890</p>
    </div>
    <div class="popular-posts">
      <h3>Popular Post</h3>
      <p>Investment Planning Business</p>
      <p>Get the Best Financial Advices</p>
      <p>How to grow your business with digital solutions</p>
    </div>
  </div>
</footer>
</body>
</html>

