.container-about {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

.container-about h2 {
  margin-bottom: 20px;
  text-align: center;
}

.container-about form {
  display: flex;
  flex-direction: column;
}

.container-about label {
  margin-bottom: 5px;
}

.container-about input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container-about textarea {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container-about button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.container-about button:hover {
  background-color: #218838;
}
