* {
  padding: 0;
  margin: 0;
}
h1.title {
  font-size: smaller;
}



body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #db0000;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

/*
  Main Content
*/

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}


/*
  Movies
*/

.movies {
  display: grid;
  grid-template-columns: 2fr;
  gap: 16px;
  
  margin: 20px 0;
  word-wrap: break-word; /* Memungkinkan teks untuk pindah baris jika tidak cukup lebar */
  overflow: hidden; /* Menghindari teks yang melebihi lebar kontainer untuk terpotong */
}

/*
  Movie Item
*/

.movie-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.movie-item__header {
  position: relative;
}

.movie-item .movie-item__header .movie-item__header__poster {
  width: 100%;
}

.movie-item .movie-item__header .movie-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.movie-item .movie-item__header .movie-item__header__rating .movie-item__header__rating__score {
  margin-left: 10px;
}

.movie-item .movie-item__content {
  padding: 16px;
}

.movie-item .movie-item__content h3 {
  margin: 0 0 10px 0;
}

.movie-item .movie-item__content h3 a {
  color: #db0000;
  text-decoration: none;
}

.movie-item .movie-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
  Movie
*/

.movie {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.movie .movie__poster {
  width: 100%;
  max-width: 400px;
}

.movie .movie__info h4 {
  margin: 8px 0;
}


/*
  Footer
*/

footer {
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #db0000;
  text-decoration: none;
}
.movie-item__text {
  margin-top: 8px; /* Jarak atas */
  font-size: 14px; /* Ukuran font */
  line-height: 1.5; /* Ketinggian baris */
  color: #555; /* Warna teks */
  padding: 20px;
}
.jumbotron {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  background-size: cover;
  background-position: center;
}

.jumbotron h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.jumbotron p {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #007bff;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.btn:hover {
  background-color: #f0f0f0;
}

.container {
  max-width: 900px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
.header, .section {
  padding: 20px;
}
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 24px;
}
.section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
  margin-top: 0;
}
p {
  line-height: 1.6;
  color: #666;
}
.info-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.info-table th, .info-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.info-table th {
  background-color: #333;
  color: #fff;
}
.contact-info, .business-report {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}
.business-report a {
  color: #61dafb;
  text-decoration: none;
}
.business-report a:hover {
  text-decoration: underline;
}


/* contac */
.container {
  width: 100%; /* Lebar maksimum 90% dari lebar layar */
  max-width: 500px;
height: max-content;
  margin: 0 auto; /* Untuk memusatkan .container di tengah layar */
  margin-top:20px;
  padding: 20px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
  h1 {
    color: #61dafb;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-bottom: 10px;
    color: #61dafb;
  }
  input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
  }
  input[type="submit"] {
    background-color: #61dafb;
    color: #282c34;
    cursor: pointer;
    font-weight: bold;
  }
  input[type="submit"]:hover {
    background-color: #21a1f1;
  }

  /* register/login */

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

 
  .section{
  position: relative;
  width: 100%;
  display: block;
  }
  .full-height{
  min-height: 100vh;
  }
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  }
  .checkbox:checked + label,
  .checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
  }
  .checkbox:checked + label:before,
  .checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
  }
  .checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
  }
  
  
  .card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
  }
  .card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
  }
  .card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  .card-back {
  transform: rotateY(180deg);
  }
  .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
  }
  .center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
  }
  
  
  .form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
  }
  .form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .form-style:focus,
  .form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  }
  .btn:active,
  .btn:focus{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }
  .btn:hover{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }
  
  .logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
  }
  .logo img {
  
    height: 26px;
    width: auto;
    display: block;
  }
  /*  baru  */
  .notification_kyc {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .notification_kyc b {
    font-weight: bold;
  }
  
  .notification_kyc a {
    color: #007bff;
    text-decoration: none;
  }
  
  .notification_kyc a:hover {
    text-decoration: underline;
  }

  /* data form mulai investasi  */
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    height: 100px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* deviden  */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.column {
  flex: 1;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.column h2 {
  color: #007bff;
}

.column p {
  margin-top: 10px;
  font-size: 18px;
}